<!DOCTYPE html>
<html data-bs-theme="light" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Edugarden - Education Responsive landing page Template</title>
    <meta name="twitter:description" content="Skill development platform.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://renesaedu.com/assets/img/logo.png">
    <meta property="og:image" content="https://renesaedu.com/assets/img/favicon.jpg">
    <meta name="description" content="Develop your skill with Renesa Education.">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Renesa Education">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/img/favicon_64.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Font%20Awesome%205%20Brands.css">
    <link rel="stylesheet" href="/assets/css/Font%20Awesome%205%20Free.css">
    <link rel="stylesheet" href="/assets/css/Font%20Awesome%206%20Brands.css">
    <link rel="stylesheet" href="/assets/css/Font%20Awesome%206%20Free.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome.css">
    <link rel="stylesheet" href="/assets/css/IcoFont.css">
    <link rel="stylesheet" href="/assets/css/lightcase.css">
    <link rel="stylesheet" href="/assets/css/Poppins.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/assets/css/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/fonts/all.min.css">
    <link rel="stylesheet" href="/assets/css/fonts/icofont.min.css">
    <link rel="stylesheet" href="/assets/css/css/animate.css">
    <link rel="stylesheet" href="/assets/css/css/lightcase.css">
    <link rel="stylesheet" href="/assets/css/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owlcarousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/css/style.css">
    <link rel="stylesheet" href="/assets/css/css/responsive.css">
    <link rel="stylesheet" href="/assets/css/css/slick.css">
</head>

<body>
    <div class="page-wrapper"><a href="#" id="back_to_top" class="active"><i class="fa fa-long-arrow-up"></i></a>
        <header class="atf-site-header atf-style1 atf-sticky-header">
            <div class="atf-top-header">
                <div class="container">
                    <div class="row">
                        <div class="atf-top-header-in">
                            <ul class="atf-top-header-list">
                                <li><i class="icofont-envelope"></i>Email: <a href="#">example@gmail.com</a></li>
                                <li><i class="icofont-phone"></i>Contact: <a href="#">2222-333-7889 </a></li>
                                <li><i class="icofont-wall-clock"></i>Work time: <a href="#">9:00AM - 16:00PM</a></li>
                            </ul>
                            <ul class="loginform text-center atf-align-items-center">
                                <li class="login_click loginicon light">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                                </li>
                                <li class="login_click theme-bg">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#signup">Sign up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atf-main-header">
                <div class="container">
                    <div class="row">
                        <div class="atf-main-header-in">
                            <div class="atf-main-header-left">
                                <a class="atf-site-branding atf-white-logo" href="/index.html"><img
                                        src="/assets/img/logo-black.png" alt="edugarden"></a>
                            </div>
                            <div class="atf-main-header-right">
                                <div class="atf-nav">
                                    <ul class="atf-nav-list atf-onepage-nav">
                                        <li class="menu-item-has-children"><a href="#home"
                                                class="atf-smooth-move">Home<i
                                                    class="fa fa-chevron-down ms-2 arrow-btn"></i></a>
                                            <ul>
                                                <li><a href="/index.html">Home Default</a></li>
                                                <li><a href="index1.html">Home Slider</a></li>
                                                <li><a href="index2.html">Home Rotate</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#about" class="atf-smooth-move">About</a></li>
                                        <li><a href="#course" class="atf-smooth-move">Courses</a></li>
                                        <li><a href="#choose" class="atf-smooth-move">Service</a></li>
                                        <li><a href="#teacher" class="atf-smooth-move">Teacher</a></li>
                                        <li><a href="#portfolio" class="atf-smooth-move">Gallery</a></li>
                                        <li><a href="#testimonial" class="atf-smooth-move">Client</a></li>
                                        <li class="menu-item-has-children"><a href="#blog" class="atf-smooth-move">Blog
                                                <i class="fa fa-chevron-down ms-2 arrow-btn"></i></a>
                                            <ul>
                                                <li class="menu-item-has-children"><a href="/list.html">Blog</a></li>
                                                <li class="menu-item-has-children"><a href="/single.html"> Blog
                                                        details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#contact" class="atf-smooth-move">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="atf-page-heading atf-size-md atf-dynamic-bg" data-src="/assets/img/slider/hero-bg3.jpg">
            <div class="container">
                <div class="text-center atf-page-heading-in">
                    <h1 class="atf-page-heading-title">Edugarden Latest News</h1>
                    <div class="atf-post-label"><span><a href="/index.html">Home</a></span><span>Blog</span></div>
                </div>
            </div>
        </div>
        <div class="atf-section-padding atf-blog-details-area mt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/1.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Awesome Teacher group work in this class.</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/2.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Student Support Service can Change Your Life of
                                                College.</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/3.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Best Progamming Language Your School &amp;
                                                University..</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/4.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Education can Change Your Life that win
                                                University</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/1.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Awesome Teacher group work in this class.</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/2.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Student Support Service can Change Your Life of
                                                College.</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="atf-single-blog">
                                    <div class="atf-blog-img"><img src="/assets/img/blog/3.jpg" alt="blog"></div>
                                    <div class="atf-blog-content">
                                        <ul>
                                            <li><i class="icofont-user-suited"></i><a href="#"> 15 July 2023</a></li>
                                            <li><i class="icofont-ui-clock"></i><a href="#"> 18 Nov 2023</a></li>
                                        </ul>
                                        <h3><a href="/single.html">Best Progamming Language Your School &amp;
                                                University..</a></h3>
                                        <p>Lorem ipsum dolor sit amet consecte adipisic elitsed eiusmod tempor enim
                                            minim veniamquis not ruexercit dolor work in this class.</p>
                                        <div class="atf-hero-btn"><a class="atf-main-btn" href="/single.html">Read
                                                More</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-4">
                                <ul class="pagination atf-post-pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="atf-widget atf-sidebar-widget">
                            <div class="blog_search"><input type="text" class="form-control" placeholder="Search..."><a
                                    href="#"><i class="fas fa-search"></i></a></div>
                            <h3 class="atf-widget-title">Categories</h3>
                            <ul class="atf-widget-list">
                                <li><a href="#">Education Consulting</a></li>
                                <li><a href="#">Education Growth</a></li>
                                <li><a href="#">Education Strategy</a></li>
                                <li><a href="#">Creative Idea</a></li>
                                <li><a href="#">Finance Analysis</a></li>
                                <li><a href="#">Market Analysis</a></li>
                                <li><a href="#">Secure Services</a></li>
                            </ul>
                        </div>
                        <div class="atf-widget atf-sidebar-widget">
                            <h3 class="atf-widget-title">Arachives</h3>
                            <ul class="atf-widget-list">
                                <li><a href="#">March 2023</a></li>
                                <li><a href="#">May 2023</a></li>
                                <li><a href="#">June 2023</a></li>
                                <li><a href="#">August 2023</a></li>
                                <li><a href="#">September 2023</a></li>
                                <li><a href="#">October 2023</a></li>
                            </ul>
                        </div>
                        <div class="atf-widget atf-sidebar-widget">
                            <h3 class="atf-widget-title">Recent Post</h3>
                            <ul class="atf-post-widget-list atf-mp0">
                                <li>
                                    <div class="atf-post atf-style1"><a href="#" class="atf-post-thumb atf-zoom"><img
                                                src="/assets/img/blog/footer/1.jpg" alt="post1" class="atf-zoom-in"></a>
                                        <div class="atf-post-info">
                                            <h2 class="atf-post-title"><a href="/single.html">A Educationis the activity
                                                    of making one's living</a></h2>
                                            <div class="atf-post-date"><span>Sep 20, 2023</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="atf-post atf-style1"><a href="#" class="atf-post-thumb atf-zoom"><img
                                                src="/assets/img/blog/footer/2.jpg" alt="post2" class="atf-zoom-in"></a>
                                        <div class="atf-post-info">
                                            <h2 class="atf-post-title"><a href="/single.html">Education statistics is
                                                    the Science of decision</a></h2>
                                            <div class="atf-post-date"><span>Sep 21, 2023</span></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="atf-post atf-style1"><a href="#" class="atf-post-thumb atf-zoom"><img
                                                src="/assets/img/blog/footer/3.jpg" alt="post2" class="atf-zoom-in"></a>
                                        <div class="atf-post-info">
                                            <h2 class="atf-post-title"><a href="/single.html">A Education plan is a
                                                    formal written document</a></h2>
                                            <div class="atf-post-date"><span>Sep 22, 2023</span></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="atf-widget atf-sidebar-widget">
                            <h3 class="atf-widget-title">Popular Tags</h3>
                            <div class="atf-tagcloud"><a href="#" class="atf-tag">Education</a><a href="#"
                                    class="atf-tag">Service</a><a href="#" class="atf-tag">Bootstrap</a><a href="#"
                                    class="atf-tag">Online</a><a href="#" class="atf-tag">Course</a><a href="#"
                                    class="atf-tag">University</a><a href="#" class="atf-tag">college</a><a href="#"
                                    class="atf-tag">School</a><a href="#" class="atf-tag">Pricing</a><a href="#"
                                    class="atf-tag">Course</a><a href="#" class="atf-tag">Movie</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="atf-footer-area">
            <div class="container">
                <div class="row atf-section-padding">
                    <div class="col-lg-4 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s"
                        data-wow-offset="0">
                        <div class="atf-footer-box">
                            <h5><a href="#">Edugarden Company</a></h5>
                            <p class="pe-lg-3"> Lorem ipsum dolor sit amet consectetur adipiscing elit sed eiusmod
                                dolor.</p>
                            <h4 class="text-white mt-4">Follow Us</h4>
                            <div class="atf-footer-social-icon mt-4"><a href="#" class="icon"><i
                                        class="fab fa-facebook"></i></a><a href="#" class="icon"><i
                                        class="fab fa-dribbble"></i></a><a href="#" class="icon"><i
                                        class="fab fa-behance"></i></a><a href="#" class="icon"><i
                                        class="fab fa-linkedin"></i></a><a href="#" class="icon"><i
                                        class="fab fa-twitter"></i></a></div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-2 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"
                        data-wow-offset="0">
                        <h5>Quick Links</h5>
                        <ul class="atf-list-menu">
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Get Stared</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Our Team</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">About Us</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Need Helps</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Contact Us</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Our Teacher</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"
                        data-wow-offset="0">
                        <h5>Popular Tags</h5>
                        <ul class="atf-list-menu">
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">English</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Our Bangla</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Our Service</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Site Map</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Our News</a></li>
                            <li><i class="fas fa-caret-right me-2"></i><a href="#">Our Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 atf-footer-link wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s"
                        data-wow-offset="0">
                        <h5>Our Gallery</h5><a href="/assets/img/blog/footer/1.jpg"
                            data-rel="lightcase:myCollection"><img src="/assets/img/blog/footer/1.jpg"
                                alt="Instragram"></a><a href="/assets/img/blog/footer/2.jpg"
                            data-rel="lightcase:myCollection"><img src="/assets/img/blog/footer/2.jpg"
                                alt="Instragram"></a><a href="/assets/img/blog/footer/3.jpg"
                            data-rel="lightcase:myCollection"><img src="/assets/img/blog/footer/3.jpg"
                                alt="Instragram"></a><a href="/assets/img/blog/footer/4.jpg"
                            data-rel="lightcase:myCollection"><img src="/assets/img/blog/footer/4.jpg"
                                alt="Instragram"></a><a href="/assets/img/blog/footer/5.jpg"
                            data-rel="lightcase:myCollection"><img src="/assets/img/blog/footer/5.jpg"
                                alt="Instragram"></a><a href="/assets/img/blog/footer/6.jpg"
                            data-rel="lightcase:myCollection"><img src="/assets/img/blog/footer/6.jpg"
                                alt="Instragram"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center atf-footer-boottom wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s"
                        data-wow-offset="0">
                        <p>©Copyright - All Right Reserved.Designed <i class="fas fa-heart ms-1 me-1"></i> by <a
                                href="">Theme Family</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade atf-modal-area" role="dialog" tabindex="-1" id="login" aria-labelledby="registermodal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content atf-single-modal" id="registermodal"><button class="btn-close"
                        aria-label="Close" data-bs-dismiss="modal" type="button"></button>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Login</h4>
                        <form class="atf-login-form">
                            <div class="form-group"><label class="form-label">User Name</label><input
                                    class="form-control form-control" type="text" placeholder="Name"></div>
                            <div class="form-group"><label class="form-label">Password</label><input
                                    class="form-control form-control" type="password" autocomplete="off"
                                    placeholder="Password" required=""></div>
                            <div class="form-group atf-hero-btn mt-3"><button class="atf-main-btn"
                                    type="submit">Login</button></div>
                        </form>
                        <div class="modal-footer atf-checkbox-login mb-3">
                            <ul>
                                <li><input type="checkbox" class="checkbox-custom" id="reg" name="reg"><label
                                        class="form-label checkbox-custom-label" for="reg">Save Password</label></li>
                                <li><a class="atf-theme-forget" href="#">Forget Password?</a></li>
                            </ul>
                        </div>
                        <div class="text-center atf-click-link">
                            <p class="mt-2">Haven't Any Account? <a class="atf-link" href="#">Click here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade atf-modal-area" role="dialog" tabindex="-1" id="signup" aria-labelledby="sign-up"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content atf-single-modal" id="sign-up"><button class="btn-close" aria-label="Close"
                        data-bs-dismiss="modal" type="button"></button>
                    <div class="modal-body">
                        <h4 class="modal-header-title">Sign Up</h4>
                        <form class="atf-login-form">
                            <div class="form-group"><input class="form-control form-control" type="text"
                                    placeholder="Full Name"></div>
                            <div class="form-group"><input class="form-control form-control" type="email"
                                    placeholder="Your Email"></div>
                            <div class="form-group"><input class="form-control form-control" type="text"
                                    placeholder="Username"></div>
                            <div class="form-group"><input class="form-control form-control" type="password"
                                    autocomplete="off" placeholder="Password" required=""></div>
                            <div class="form-group atf-hero-btn mt-3"><button class="atf-main-btn" type="submit">Sign
                                    Up</button></div>
                        </form>
                        <div class="text-center atf-click-link">
                            <p class="mt-2"><i class="ti-user me-1"></i>Already Have An Account? <a class="atf-link"
                                    href="#">Register Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/js/jquery.min.js"></script>
    <script src="/assets/js/js/modernizr-3.5.0.min.js"></script>
    <script src="/assets/js/js/jquery-ui.js"></script>
    <script src="/assets/js/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/js/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="/assets/js/js/lightcase.js"></script>
    <script src="/assets/js/js/waypoints.min.js"></script>
    <script src="/assets/js/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/js/jquery.slick.min.js"></script>
    <script src="/assets/js/js/jquery-contact.js"></script>
    <script src="/assets/js/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/js/js/jquery.easing.min.js"></script>
    <script src="/assets/js/js/wow.min.js"></script>
    <script src="/assets/js/js/main.js"></script>
    <script src="/assets/js/js/textRotate.min.js"></script>
</body>

</html>